HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
WABA_API_KEY=tobemodified
WABASMSBOX_API_KEY=tobemodified
WABA_BOT_ID=tobemodified
WABASMSBOX_BOT_ID=tobemodified
WABASMSBOX_RCS_ENDPOINT=https://wabasmsbox.com/REST/direct/sendRCS
WABASMSBOX_TEMPLATE_ENDPOINT=https://wabasmsbox.com/REST/direct/getRcsTemplateJson
LEAD_RCS_BOT_ID=69c684ab80cbf50614fe36dd
LEAD_TEMPLATE_CODE=Universal
LEAD_SMS_SENDER_ID=tobemodified
LEAD_SMS_ENTITY_ID=tobemodified
LEAD_SMS_TEMP_ID=tobemodified
LEAD_SMS_TEXT=Hi {name}, thank you for contacting TSPL Group. Our team will connect with you shortly.
